<app-navbar-employer></app-navbar-employer>
<div class="create-post-container">
    <h2>Create Job Post</h2>
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="title" placeholder="Job Title">
      <textarea formControlName="description" placeholder="Job Description"></textarea>
      <input type="text" formControlName="location" placeholder="Location">
      <input type="text" formControlName="salary" placeholder="Salary">
      <button type="submit">Create Post</button>
    </form>
  </div>
  <app-footer></app-footer>
  