<app-navbar-simple></app-navbar-simple>
<div class="hero-section">
    <div class="text">
        <h2><pre>The Best jobsite 
        for your <span class="yellow">FUTURE</span></pre></h2>
        <h4><pre>
    We help you to find the best job 
    to build your future and build a better future of digital era
        </pre></h4>
        <br>
        <a routerLink="/registration-front" class="button">Register Now</a> &nbsp;&nbsp; <a routerLink="/about" class="learn-more">Learn More &#10148;</a>
    </div>
    <div class="pic">
        <img src="assets/photo/jobhome.jpg" alt="">
    </div>
</div>
<br> <br>
<!-- FEATURE CONTENT -->
<div class="feature-cont">
    <h1>Our Key Features</h1>
    <div class="feature-cards">
      <div class="feat-c">
        <i class="fas fa-link"></i> <br>
        <h2>Personalized Application Links</h2>
        <p>Generate dedicated links for each job application, simplifying the process for candidates and recruiters alike.</p>
      </div>
      <div class="feat-c">
        <i class="fas fa-user-circle"></i> <br>
        <h2>Customizable Profile Options</h2>
        <p>Personalize your profile with skills, experience, and preferences, providing recruiters with comprehensive information.</p>
      </div>
      <div class="feat-c">
        <i class="fas fa-layer-group"></i> <br>
        <h2>Access to Multiple Job Listings</h2>
        <p>Explore a diverse range of job opportunities, ensuring candidates find the perfect fit and enhancing our platform's reputation.</p>
      </div>
      <div class="feat-c">
        <i class="fas fa-envelope-open-text"></i> <br>
        <h2>Instant Notifications</h2>
        <p>Receive real-time updates on application status and new job listings, ensuring candidates stay informed and engaged.</p>
      </div>
    </div>
</div>

    
<br><br>


<app-footer></app-footer>