<div class="navbar">
    <div class="logo">
      <a routerLink="/home"><img src="assets/photo/job-search_12041359.png" alt="Logo" width="50"></a>
    </div>
    <div class="nav-links">
      <a routerLink="/employer-dashboard" routerLinkActive="active">Dashboard</a>
      <a routerLink="/new-post" routerLinkActive="active">New Post</a>
      <a routerLink="/employer-messages" routerLinkActive="active">Messages</a>
    </div>
    <div class="auth-links">
      <a (click)="logout()">Log Out</a>
    </div>
  </div>
  