<app-navbar-simple></app-navbar-simple>
<div class="login-container">
  <h2>Employer Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input type="email" formControlName="email" placeholder="Email" />
    <input type="password" formControlName="password" placeholder="Password" />
    <button type="submit">Log In</button>
    <a routerLink="/employer-registration">Don't have an account? Register</a>
    <a routerLink="/employee-login">Switch to Employee Login</a>
  </form>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</div>
  <app-footer></app-footer>

  
  
 
  